body {
  background-color: #cccccc;
  font-family: 'Lato', sans-serif;
}


/*HEADER*/

.header {
  background-color: #006400;
  height: 30px;
  text-align: center;
  width: 100%;
}

.FCCLogo {
  margin: 5px;
  width: 10%;
}


/*LEADERTABLE*/

.table {
  margin: 20px auto;
  max-width: 70%;
  width: 70%;
}

a>img {
  margin-right: 10px;
  width: 8%;
}

button {
  color: black;
  margin: 5px;
}

caption {
  background-color: #006400;
  border-radius: 5px 5px 0 0;
  color: white;
  padding-bottom: 25px;
  text-align: center;
}
